  .about-image-1 {
    width: 1460px;
    height: 500px;
    padding: 10px;
  }
  
  .about-image-2 {
    width: 750px;
    height: 700px;
    padding: 10px;
  }
  
  .about-image-5 {
    width: 715px;
    height: 700px;
    padding: 10px;
  }
  .about-image-4 {
    width: 750px;
    height: 500px;
    padding: 10px;
  }
  
  .about-image-3 {
    width: 715px;
    height: 500px;
    padding: 10px;
  }
  